{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}|login{% endblock %}
{% block body %}
<h1 class="display-1 text-right"><a class="shopping-cart-header" href="{% url 'home'%}">KAMOOR KORNER</a></h1>
<h2>Login below</h2>
<form action='' method="POST">
    {% csrf_token %}
    {{form|bootstrap}}
    <input type="submit" value="login" class="btn btn-default btn-lrg">
</form>
</br>
<p>forgotten your password ? click below </p>
<a href="{% url 'accounts:password_reset' %}" class="btn btn-default btn-lg"> Reset password</a>
{% endblock%}
