body{
    font-family: 'Lato', sans-serif;
    font-size:1.5em;
}
a, a:hover{
    text-decoration: none;
    color:black;
}
.jumbotron{
    background: none;
}
.facebook{
    height:40px;
}
.facebook a{
    display: inline-block;
}
.glyphicon{
    font-size: 2em;
}
.header{
    text-align: left;
    font-size: 3.5em;
}



@media (min-width:780px){
    body{
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
    }
    .wrap {
		min-height: calc(100vh - 80px);
	}
    .jumbotron{
        background-image: url('../img/image_of_guwahati.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:700px;



    }
    .jumbotron h1{

        border-bottom:1px;
        color:white;
        border-bottom: 1px solid white;
    }
    .jumbotron p{
        color:white;
    }
    body{
        color:black;
    }
    .lead{
        color:white;
    }
    .header{
        text-align: center;
        font-size: 3.5em;
    }
    .facebook{
        height:40px;
    }
    .facebook a{
        display: inline-block;
    }
    .logo{
        text-align: center;
    }
    .lead{
        color: black;
        font-size: 1.2em;
    }
    .glyphicon{
        font-size: 2em;
    }
    .footer{
        background-color: black;
        color:white;
        height:80px;
    }
    .footer p{
        padding-top:30px;
    }



}
