a, a:hover{
    text-decoration: none;
    color:black;
}
.jumbotron{
    background: none;
}
.facebook{
    height:40px;
}
.facebook a{
    display: inline-block;
}
.glyphicon{
    font-size: 2em;
}



@media (min-width:780px){
    .jumbotron{
        background-image: url('../img/image_of_guwahati.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:700px;



    }
    .jumbotron h1{

        border-bottom:1px;
        color:white;
        border-bottom: 1px solid white;
    }
    body{
        color:black;
    }
    .lead{
        color:white;
    }
    .header{
        text-align: center;
        font-size: 3.5em;
    }
    .facebook{
        height:40px;
    }
    .facebook a{
        display: inline-block;
    }
    .glyphicon{
        font-size: 2em;
    }


}
